/* style for landing page; index.html & signup.html */

body{
  background-color: #696969;
}

.layout{
  background-image: url("../images/pic1.jpg");
  background-size: 100% 100%;
  height: 600px;
}

.branding{
  float: left;
}


.branding h1{
  font: 40px/1.5 Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

.form{
  height: 70%;
  float: right;
  width: 37%;
  margin-top: 70px;
  margin-right: 50px;
  background-color: white;
  padding: 20px;
	border-radius: 5px;
}

.login{
  margin-top: 5px;
  height: 15%;
}

.login h1{
  float: left;
  margin-left: 40px;
}

.login a{
  text-decoration: none;
  color: #696969;
  font: 20px/1.5 Arial, Helvetica, sans-serif;
}

.login h2{
  float: right;
  margin-right: 40px;
}

.forminput{
  margin-top: 10px;
  height: 70%;
}

.form-input{
  width: 80%;
  height: 30px;
  border-radius: 5px;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  margin: 10px 20px;
  text-align: center;
}

.form p{
  font: 20px/1.5 Arial, Helvetica, sans-serif;
  color: #696969;
}

input[type=radio]:not(old){
  display      : inline-block;
  margin: auto;
  padding: inherit;
  border: 0px;
  width: 10%;
  height: 1.3em
}

.radio{
  float: left;
 }

.button, .button1, .button2, .signup-button{
  color: white;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: blue;
  float: right;
  height: 40px;
  width: 100px;
}

.button1{
  background-color: green;
  margin: 10px 50px;
  height: 35px;
}

.button2{
  background-color: red;
  margin: 10px 50px;
  height: 35px;
}

.displayarea{
  height: 300px;
  padding: 5px;
}

.displayarea p{
  text-align: center;
  font: 25px/1.5 Arial, Helvetica, sans-serif;
  color: white;
}

.displayarea h1{
  text-align: center;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  color: white;
}

.area1, .area2, .area3{
  width:31%;
  height: 400px;
  margin: 10px;
  border-radius: 5px;
  float: left;
}

#pic1, #pic2, #pic3{
  width: 100%;
  height: 50%;
  margin-top: 20px;
}

#pic1 img, #pic2 img, #pic3 img{
  width: 90%;
  height: 130%;
}

.area1 h1, .area2 h1, .area3 h1{
  float: left;
  width: 75%;
  margin-top: 80px;
  text-align: left;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  color: white;
  overflow: hidden;
}

.showcase{
  margin-top: 250px;
  height: 300px;
}

.showcase img{
  height: 100%;
}

.desc-image{
  float: left;
  margin: 20px;
  width: 38%;
  height: 80%;
}

.description{
  height: 80%;
  width: 45%;
  margin: 20px;
  float: right;
}

.description h1{
  text-align: left;
  color: white;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
}

/* signup page style */

.signup-button{
  margin: 20px;
}

.signup-input{
  width: 40%;
  height: 28px;
  margin: 20px;
}

/* userhome style */


.innerbody{
  background-color: #D3D3D3;
}

nav{
  width: 100%;
  background-color: #696969;
  height: 50px;
}

nav h1{
  float: left;
  font: 35px/1.5 Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}

nav a{
  float: right;
  text-decoration: none;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  color: white;
  margin-right: 20px;
  margin-top: 20px;
}

.create_parcel{
  height: 230px;
  width: 85%;
  background-color: white;
  margin: 10px 45px;
  border-radius: 5px;
}

.create_parcel h1, .all-parcels h1, .view-parcel h1, .parcel-orders h1{
  font: 25px/1.5 Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

tr{
  margin: 0px 10px;
  border-collapse: collapse;
  width: 100%;
}

.table, .table1{
  padding: 10px;
  margin-right: 20px;
}

td, th{
  border: ipx solid color #dddddd;
  text-align: left;
  padding: 8px;
}

.details{
  width: 95%;
  height: 30px;
  
}

.all-parcels{
  min-height: 300px;
  width: 45%;
  background-color: white;
  border-radius: 5px;
  float: left;
  margin: 30px;
}

.parcel-details{
  background-color: #696969;
  color: white;
  height: 30px;
  width: 75px;
  border-radius: 3px;
}

.view-parcel{
  min-height: 380px;
  width: 45%;
  float: right;
  background-color: white;
  border-radius: 5px;
  margin: 30px;
}

/* profile page */

.profile{
  margin: 20px;
  float: left;
  width:20%;
  height: 330px;
  background-color: white;
  border-radius: 5px;
}

td, th{
  height: 20px;
}

.profile-pic{
  margin-top: 40px;
  margin-left: 25%;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.profile-pic img{
  width: 90%;
  height: 90%;
}

.parcel-orders{
  min-height: 300px;
  float: right;
  width: 70%;
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
}

.table2{
  margin: 20px 25%;
  width: 200px;
}
